main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.btn-main-page {
  align-self: center;
}
.task-lists-container {
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
}
.task-list {
  width: 45vw;
  max-width: 700px;
  margin: 30px 60px 0px 60px;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  color: #000;
}

.task-list:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px #ccc;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.task h2 {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.task h3 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.task-link {
  display: contents;
}

.delete-btn {
  margin-left: 10px;
  background-color: rgb(215, 19, 19);
  display: block;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
}
.delete-btn:hover {
  background-color: rgb(125, 4, 4);
  cursor: pointer;
}
.add-btn {
  display: block;
  background-color: rgb(17, 211, 17);
  width: 125px;
  height: 50px;
}
.add-btn:hover {
  background-color: rgb(5, 148, 5);
  cursor: pointer;
}
.button-section {
  margin: 10px auto;
}
.back-btn {
  position: absolute;
  right: 5%;
  top: 5%;
}
.add-task-btn {
  width: 75px;
  height: 25px;
}
.main-page-btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

.task-list-single-day {
  min-width: 500px;
  max-width: 700px;
  margin: 1rem auto;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  color: #000;
}
.single-day-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.single-day-container h3 {
  cursor: pointer;
}

.graphs {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  color: #000;
  display: flex;
  gap: 10px;
}
.stats-w {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  color: #000;
  min-width: 650px;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.stats-w-section-first {
  margin: 20px 5px 0px 5px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.stats-w-section-second {
  align-self: center;
  margin: 0px 5px 20px 5px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
}
